html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

ul,li{
    list-style-type: none;
}


a{
    text-decoration: none;
    color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

ol, ul, dl{
    margin: 0;
    padding: 0;
}

#__next{
    width: 100%;
    height: 100%;
    overflow: hidden;
}