.home{
    .container{


    }

    .carousel{
        height: 380px;
        width: 100%;
        overflow: hidden;
        line-height:380px;
        .carousel-item{
            width: 100%;
            color: #fff;
            text-align: center;
            background: #364d79;
        }
    }
}


